hfa/lib/hadoop-lws-job-1.3.1-0-0-hadoop2.jar
hfa/src/test/java/com/lucidworks/hadoop/ingest/*
hfa/src/test/java/spdb.lucidworks.sources.zip
hfa/src/main/java/hfa/com/hypers/hfa/daily/FileFormatJob.java
hfa/src/test/java/com/hypers/hfa/daily/xc/*

*/Servers/
*/.settings/
*/.idea/
.metadata/
**/test/
**/target/
*.log
\.(project|classpath|orig)

.idea/
out/

*.iml